#{fragment}
<table .table .is-striped>
  <thead>
    <tr>
      <th>Exercise
      <th>Date
      <th>Duration (s)
      <th>Measures
      <th>Beats per Measure
      <th>Subdivision
      <th>BPM
      <th>Delete
  <tbody>
    $forall entry <- entryWidgets
      ^{entry}
<div .level .is-mobile>
  <div .level-left>
  <div>
    <button type=button .button onclick="confirm_delete()">Delete selected items

<div #confirm-delete .modal>
  <div .modal-background>
  <div .modal-content>
    <div .box>
      <p .control>Are you sure you want to delete these entries?
      <p .control .is-grouped>
        <input type="submit" value="Delete" .button .is-primary .control />
        <button type=button .button .control onclick="cancel_delete()">Cancel
  <button .modal-close>