<div .tabs .is-toggle .is-centered>
  <ul>
    <li :currentRoute == NewEntryR:.is-active>
      <a href="@{NewEntryR}">New Entry
    <li :currentRoute == EntriesR:.is-active>
      <a href="@{EntriesR}">Past Entries
    <li :currentRoute == ProgressR:.is-active>
      <a href="@{ProgressR}">Progress
