<nav .nav .has-shadow>
  <div .nav-left>
    <p .title .nav-item .is-3>Drum Diary
  <span .nav-toggle onclick="toggleVisible()">
    <span>
    <span>
    <span>

  <div .nav-center .is-hidden-mobile>
    ^{desktopNav}

  <div .nav-right .is-hidden-mobile>

  <div #mobile-menu .nav-right .nav-menu .is-hidden-tablet>
    ^{mobileNav}
