^{diaryTabs}
<div .box>
  <form action=@{NewEntryR} method="POST">
    ^{entryFormWidget}
    <div .control .level>
      <div .control .level-left .is-grouped>
        <p .control>
          <input .button .is-primary type="submit" value="Add Entry" />
        $if success
          <p .control>Added!
        $else
